<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--读写器IP地址-->
    <add key="ReaderIp" value="10.0.0.101" />
    <!-- SearchMode 1:DualTarget,2:SingleTarget,3:SingleTargetWithSuppression -->
    <add key="SearchMode" value="1"/>
    <!-- Session 1~4 -->
    <add key="Session" value="2"/>

    <add key="UseAntenna1" value="1"/>
    <add key="UseAntenna2" value="1"/>
    <add key="UseAntenna3" value="1"/>
    <add key="UseAntenna4" value="1"/>
    <!-- Power 1~32.5-->
    <add key="AntennaPower1" value="28"/>
    <add key="AntennaPower2" value="28"/>
    <add key="AntennaPower3" value="28"/>
    <add key="AntennaPower4" value="28"/>

    <!-- 标签间隔 -->
    <add key="DelayTime" value="700" />

    <!--PLC端口-->
    <add key="Port" value="COM6" />
    <!--COM串口-->
    <add key="ScannerPort_1" value="COM3" />
    <add key="ScannerPort_2" value="COM5" />
    
    <!-- SAP Setting -->
    <add key="AppServerHost" value="172.18.200.86" />
    <add key="SystemNumber" value="04" />
    <add key="User" value="RFC_RFID01" />
    <add key="Password" value="xinda01" />
    <add key="Client" value="800" />
    <add key="Language" value="ZH" />
    <add key="PoolSize" value="5" />
    <add key="PeakConnectionsLimit" value="10" />
    <add key="IdleTimeout" value="60" />

    <add key ="HttpKey" value="test" />
    <add key ="HttpUrl" value="http://172.16.202.33/iWMSPubSyncAPI_test/Router/XmlPost.ashx" />
    <add key ="HttpSec" value="1a2b3c4d5e6f7g8h9i10j11k12l" />

  </appSettings>
</configuration>