<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings >
    <add name="ConnStr" connectionString="Data Source=172.18.207.92;Initial Catalog=heilandb;User ID=sa;password=myk_123456"/>
  </connectionStrings>

  <appSettings>
    <add key="LGNUM" value="HL01"/>
    <add key="DeviceNO" value="08F041" />
    
    <!--0:IMP 1:TM 2:DLX_PM 3:XD_PM-->
    <add key="ReaderType" value="0" />
    <!--0:NONE 1:XD 2:DLX 3:BJ-->
    <add key="PLCType" value="1" />

    <!--1~32.5-->
    <add key="ReaderIP_IMP" value="10.0.0.101" />
    <add key="ReaderPower_IMP" value="28" />
    
    <!--500~3150-->
    <add key="ReaderIP_TM" value="10.0.0.101" />
    <add key="ReaderPower_TM" value="2800" />
    
    <!--10~230-->
    <add key="ReaderPower_DLX_PM" value="50" />
    <add key="ReaderCom_DLX_PM" value="COM3" />
    
    <!--10~325-->
    <add key="ReaderIP_XD_PM" value="10.0.0.101" />
    <add key="ReaderPower_XD_PM" value="280" />

    <!-- 标签间隔 -->
    <add key="DelayTime" value="700" />
  
    <!--PLC端口-->
    <add key="PLCPort" value="COM6" />
    <!--COM串口-->
    <add key="ScannerPort_1" value="COM3" />
    <add key="ScannerPort_2" value="COM5" />
    
    <!-- SAP Setting -->
    <add key="AppServerHost" value="172.18.200.86" />
    <add key="SystemNumber" value="04" />
    <add key="User" value="RFC_RFID01" />
    <add key="Password" value="xinda01" />
    <add key="Client" value="800" />
    <add key="Language" value="ZH" />
    <add key="PoolSize" value="5" />
    <add key="PeakConnectionsLimit" value="10" />
    <add key="IdleTimeout" value="60" />


  </appSettings>
</configuration>