<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HLACommonView.Configs.Consts" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HLACommonView.Configs.DataSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HLACommonView.Configs.Consts>
            <setting name="EPC_WEI_ZHU_CE" serializeAs="String">
                <value>商品未注册</value>
            </setting>
            <setting name="TWO_NUMBER_ERROR" serializeAs="String">
                <value>主条码和辅条码数量不对应</value>
            </setting>
            <setting name="WEI_SAO_DAO_EPC" serializeAs="String">
                <value>未扫描到商品</value>
            </setting>
            <setting name="XIANG_MA_BU_YI_ZHI" serializeAs="String">
                <value>箱号不一致</value>
            </setting>
            <setting name="WEI_SAO_DAO_XIANG_MA" serializeAs="String">
                <value>未扫描到箱号</value>
            </setting>
            <setting name="XIANG_MA_CHONG_FU_SHI_YONG" serializeAs="String">
                <value>箱号重复使用</value>
            </setting>
            <setting name="EPC_YI_SAO_MIAO" serializeAs="String">
                <value>商品已扫描</value>
            </setting>
            <setting name="BU_FU_HE_XIANG_GUI" serializeAs="String">
                <value>箱规不符</value>
            </setting>
            <setting name="CHONG_TOU" serializeAs="String">
                <value>重投</value>
            </setting>
            <setting name="RIGHT" serializeAs="String">
                <value>正常</value>
            </setting>
            <setting name="DUO_GE_SHANG_PIN" serializeAs="String">
                <value>多个商品</value>
            </setting>
            <setting name="DUO_GE_PIN_SE" serializeAs="String">
                <value>多个品色</value>
            </setting>
            <setting name="SHU_LIANG_DA_YU_XIANG_GUI" serializeAs="String">
                <value>数量大于箱规</value>
            </setting>
            <setting name="SHANG_PIN_DA_YU_SHI" serializeAs="String">
                <value>商品数量大于10个</value>
            </setting>
            <setting name="PIN_SE_BU_FU" serializeAs="String">
                <value>品色不符</value>
            </setting>
            <setting name="JIAO_JIE_HAO_BU_YI_ZHI" serializeAs="String">
                <value>交接号不一致</value>
            </setting>
        </HLACommonView.Configs.Consts>
        <HLACommonView.Configs.DataSetting>
            <setting name="DBAddress" serializeAs="String">
                <value>172.18.10.98</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>heilandb</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value>xindeco.123456</value>
            </setting>
            <setting name="UseFormalEnvironmemt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormalSAPServerAddress" serializeAs="String">
                <value>172.18.200.86</value>
            </setting>
            <setting name="FormalSystemNum" serializeAs="String">
                <value>04</value>
            </setting>
            <setting name="FormalIdleTimeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="FormalSAPUser" serializeAs="String">
                <value>RFC_RFID01</value>
            </setting>
            <setting name="FormalSAPPassword" serializeAs="String">
                <value>xinda01</value>
            </setting>
            <setting name="FormalClient" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="FormalLanguage" serializeAs="String">
                <value>ZH</value>
            </setting>
            <setting name="FormalPeakConnectionsLimit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FormalPollSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TestSAPServerAddress" serializeAs="String">
                <value>172.18.200.14</value>
            </setting>
            <setting name="TestSystemNum" serializeAs="String">
                <value>00</value>
            </setting>
            <setting name="TestIdleTimeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="TestSAPUser" serializeAs="String">
                <value>093482</value>
            </setting>
            <setting name="TestSAPPassword" serializeAs="String">
                <value>sunrain</value>
            </setting>
            <setting name="TestClient" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="TestLanguage" serializeAs="String">
                <value>zh</value>
            </setting>
            <setting name="TestPeakConnectionsLimit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TestPollSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TestDBAddress" serializeAs="String">
                <value>172.18.10.76</value>
            </setting>
            <setting name="TestDBName" serializeAs="String">
                <value>heilandb</value>
            </setting>
            <setting name="TestDBUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="TestDBPassword" serializeAs="String">
                <value>xindeco.123456</value>
            </setting>
        </HLACommonView.Configs.DataSetting>
    </userSettings>
</configuration>