<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=172.18.207.92;Initial Catalog=heilandb;User ID=sa;password=myk_123456" />
  </connectionStrings>
  <appSettings>
    <add key="LGNUM" value="HL01" />
    <!-- SAP Setting -->
    <add key="AppServerHost" value="172.18.200.86" />
    <add key="SystemNumber" value="04" />
    <add key="User" value="RFC_RFID01" />
    <add key="Password" value="xinda01" />
    <add key="Client" value="800" />
    <add key="Language" value="ZH" />
    <add key="PoolSize" value="5" />
    <add key="PeakConnectionsLimit" value="10" />
    <add key="IdleTimeout" value="60" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>