<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--读写器IP地址-->
    <add key="ReaderIp" value="10.0.0.101" />
    <!-- SearchMode 1:DualTarget,2:SingleTarget,3:SingleTargetWithSuppression -->
    <add key="SearchMode" value="1"/>
    <!-- Session 1~4 -->
    <add key="Session" value="2"/>

    <add key="UseAntenna1" value="1"/>
    <add key="UseAntenna2" value="1"/>
    <add key="UseAntenna3" value="1"/>
    <add key="UseAntenna4" value="1"/>
    <!-- Power 1~32.5-->
    <add key="AntennaPower1" value="28"/>
    <add key="AntennaPower2" value="28"/>
    <add key="AntennaPower3" value="28"/>
    <add key="AntennaPower4" value="28"/>

    <!-- 标签间隔 -->
    <add key="DelayTime" value="700" />

    <!--PLC端口-->
    <add key="Port" value="COM1" />

    <!--COM串口-->
    <add key="ScannerPort_1" value="COM5" />
    <add key="ScannerPort_2" value="COM6" />

  </appSettings>
</configuration>