<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--读写器IP地址-->
    <add key="ReaderIp" value="10.0.0.103"/>

    <!-- 标签间隔 -->
    <add key="DelayTime" value="700"/>

    <!--PLC端口-->
    <add key="Port" value="COM6"/>
    <!--COM串口-->
    <add key="ScannerPort_1" value="COM3"/>
    <add key="ScannerPort_2" value="COM5"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
