<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--读写器IP地址-->
    <add key="ReaderIp" value="10.0.0.103" />

    <!-- 标签间隔 -->
    <add key="DelayTime" value="700" />

    <!--PLC端口-->
    <add key="Port" value="COM6" />
    <!--COM串口-->
    <add key="ScannerPort_1" value="COM3" />
    <add key="ScannerPort_2" value="COM5" />

    <!-- SearchMode SingleTarget = 1 DualTarget = 2 TagFocus = 3 SingleTargetReset = 5 DualTargetBtoASelect = 6 -->
    <add key="SearchMode" value="2" />
    <!-- Session 0~3 -->
    <add key="Session" value="1" />
    <!-- Power Max 32.5-->
    <add key="AntennaPower" value="28" />


  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
