<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <add name="ConnStr" connectionString="Data Source=172.18.207.92;Initial Catalog=heilandb;User ID=sa;password=myk_123456"/>
    <add name="ConnStrAjt" connectionString="Data Source=172.18.207.92;Initial Catalog=ajt;User ID=sa;password=myk_123456"/>
  </connectionStrings>
  <appSettings>
  </appSettings>

</configuration>