<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings >
    <add name="ConnStr" connectionString="Data Source=172.18.207.92;Initial Catalog=heilandb;User ID=sa;password=myk_123456"/>
  </connectionStrings>

  <appSettings>
    <add key="Title" value="HLA海澜之家RFID智能系统" />
    <add key="LGNUM" value="HL01"/>
    <add key="DeviceNO" value="MYK015" />
    <add key="Port" value="COM6" />
  </appSettings>
</configuration>