<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=172.18.207.92;Initial Catalog=heilandb;User ID=sa;password=myk_123456" />
  </connectionStrings>
  <appSettings>
    <add key="LGNUM" value="HL01" />
    <add key="DeviceNO" value="HLMY5001" />
    
    <!--读写器 1~23-->
    <add key="ReaderComPort" value="COM3" />
    <add key="ReaderPower" value="5" />
    <add key="ScanComPort" value="COM4" />

    <add key="UseGroupLogon" value="0" />

    <!-- SAP Setting -->
    <add key="AppServerHost" value="172.18.200.14" />
    <add key="SystemNumber" value="00" />
    <add key="User" value="069675" />
    <add key="Password" value="121212" />
    <add key="Client" value="300" />
    <add key="Language" value="ZH" />
    <add key="PoolSize" value="5" />
    <add key="PeakConnectionsLimit" value="10" />
    <add key="IdleTimeout" value="60" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>