<?xml version="1.0"?>
<configuration>
  <connectionStrings >
    <add name="ConnStr" connectionString="Data Source=172.18.207.92;Initial Catalog=ajt;User ID=sa;password=myk_123456"/>
  </connectionStrings>
  <appSettings>
    <add key="LGNUM" value="ET01"/>
    <!-- SAP Setting -->
    <add key="AppServerHost" value="172.18.200.65"/>
    <add key="SystemNumber" value="03"/>
    <add key="User" value="RFC_RFIDXD"/>
    <add key="Password" value="123456"/>
    <add key="Client" value="800"/>
    <add key="Language" value="ZH"/>
    <add key="PoolSize" value="5"/>
    <add key="PeakConnectionsLimit" value="10"/>
    <add key="IdleTimeout" value="60"/>
  </appSettings>
</configuration>
